body {
    background-image: url('https://c1.wallpaperflare.com/path/942/218/505/black-board-chalk-traces-school-057e0867f80cd327b7d2ed2b255819ec.jpg');
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Pangolin, sans-serif;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
}

*::-webkit-scrollbar-track {
    background-color: #000000;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.width{
    width: 500px;
}

.content{
    max-width: 1150px;
    display: grid;
    gap: 2rem;
    margin: 4rem auto;
}

.titre{
    font-size: 1rem;
    text-align: center;
    color: white;
}


.letter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 0.5rem;
  
}


@media screen and (max-width: 1000px) {
    .flex {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: auto;
    }

    .width{
        width: inherit;
    }
}